/* style.scss */

@import 'vendor/_bootstrap.scss'; /* SASS IMPORTING FILE*/

$bgColor:#000;
$textColor:#363636;
$fontColor:#d9edf7; /* SASS STUFF */

body {
  background: #d9edf7;
  color: #363636; 
}

h1 {
    text-shadow: 0px 3px 3px #4d4d4d;
	color: #222;
	font: 63px 'LeagueGothicRegular';
    margin: 20px 0 20px 0;
    
}

h2{
font-size:36px;
color: #000;
    text-shadow:
             0 3px 0 #777777, 0 3px 0 #666666,
             0 9px 10px rgba(0, 0, 0, 0.2);

}
.container {
 background: #fff;
 border: 6px solid #000;
 margin-top: 15px;
 padding: 0 30px 30px 30px; 
}

.other-container {
  background: #fff;
  margin-top: 80px;
  padding: 0 30px 30px 30px;
}

.profile-img {
  width: 160px;
  display: block;
  margin: auto; 
    
}

.contact-list {
  list-style: none; 
}

.media-left {
  width: 1000px; 
}

.media {
  background: #d9edf7;
  padding: 10px;
    box-shadow: 10px 10px 5px grey;
}

footer {
  background: #31708f;
  color: #d9edf7;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

